html body {
    background-color: #1a202c;
}

#topNavigationBar {
    z-index: 100;
}

#main {
    margin-top: 50pt;
}

#homeJumbotron {
    background-color: unset;
}

#homeContent {
}

#homeBgVideo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

#commentTextArea {
    resize: vertical;
}

.uppy-DragDrop-label {
    color: #000;
}

.opacity-dark-75 {
    background-image: url("../img/bg/transparant/p75.png");
}

.opacity-dark-50 {
    background-image: url("../img/bg/transparant/p50.png");
}

.opacity-light-75 {
    background-image: url("../img/bg/transparant/p75-light.png");
}

.opacity-light-50 {
    background-image: url("../img/bg/transparant/p50-light.png");
}
